#fishList {
    float: left;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    padding: 20px;
}
#tipList {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 20px;
    padding: 20px;
}
#locationList {
    float: left;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    padding: 20px;

}